.header-color{
    background: #076585;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #076585 ,rgb(0, 0, 0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.landing-grid{
    background: rgb(243, 205, 205);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #D6A4A4, #DAE2F8);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar-img {
    height: 310px;
    padding-top: 5em;
    border-radius: 30px;
}

.banner-text {
    background-color: black;
    opacity: .6;
    width: 70%;
    margin: auto;
    border-radius: 10px;
} 

.banner-text2 {
    background-color: black;
    opacity: .6;
    width: 70%;
    margin: auto;
    border-radius: 10px;
    padding-top: 5em;
    padding-bottom: 1em;
} 

.banner-text2 h1 {
    font-size: 66px;
    font-weight: bold;
    color: whitesmoke;
}


.banner-text h1 {
    font-size: 66px;
    font-weight: bold;
    color: whitesmoke;
}

.banner-text h2 {
    font-size: 36px;
    font-weight: bold;
    color: whitesmoke; 
}

.banner-text hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text2 hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    padding: 1em;
}


.banner-text2 p {
    color: white;
    font-size: 20px;
    padding: 1em;
}


.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: white;
    font-size: 4.5em;
    padding: 10px;
}

.projects-grid {
    display: flex;
}

.form-page {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form-page h2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
}

.form-background {
    background: rgb(243, 205, 205);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
   /* background: linear-gradient(to right, #D6A4A4, #DAE2F8);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
}
